################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestSolution/TestProject/bin/
/TestSolution/TestProject/obj/
/TestSolution/Entities/bin/
/TestSolution/Entities/obj/
*.vsidx
*.db
*.db-shm
*.db-wal

*.testlog
