################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestSolution/TestProject/bin/
/TestSolution/TestProject/obj/
/TestSolution/Entities/bin/
/TestSolution/Entities/obj/
*.vsidx
*.db
*.db-shm
*.db-wal

*.testlog
*.bin
/TestSolution/.vs/TestSolution/DesignTimeBuild/.dtbcache.v2
*.v2
/TestSolution/.vs/TestSolution/v17/.suo
/TestSolution/.vs/TestSolution/v17/DocumentLayout.backup.json
/TestSolution/.vs/TestSolution/v17/DocumentLayout.json
